// Exposes theme's variables for easy re-use in CSS for plugin authors

// register font from font folder called lexend
@font-face {
	font-family: 'Lexend';
	src: url('fonts/lexend-regular.woff2');
	font-weight: normal;
	font-style: normal;
}

// register font from font folder dmserifdisplay-regular-webfont.woff2
@font-face {
	font-family: 'DM Serif Display';
	src: url('fonts/dmserifdisplay-regular-webfont.woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--r-background-color: #f7f5f7;
	--r-main-font: Lexend, sans-serif;
	// --r-main-font-size: #{$mainFontSize};
	// --r-main-color: #{$mainColor};
	// --r-block-margin: #{$blockMargin};
	// --r-heading-margin: #{$headingMargin};
	--r-heading-font: "DM Serif Display", serif;
	// --r-heading-color: #{$headingColor};
	// --r-heading-line-height: #{$headingLineHeight};
	// --r-heading-letter-spacing: #{$headingLetterSpacing};
	// --r-heading-text-transform: #{$headingTextTransform};
	// --r-heading-text-shadow: #{$headingTextShadow};
	// --r-heading-font-weight: #{$headingFontWeight};
	// --r-heading1-text-shadow: #{$heading1TextShadow};
	// --r-heading1-size: #{$heading1Size};
	// --r-heading2-size: #{$heading2Size};
	// --r-heading3-size: #{$heading3Size};
	// --r-heading4-size: #{$heading4Size};
	// --r-code-font: #{$codeFont};
	// --r-link-color: #{$linkColor};
	// --r-link-color-dark: #{darken($linkColor , 15% )};
	// --r-link-color-hover: #{$linkColorHover};
	// --r-selection-background-color: #{$selectionBackgroundColor};
	// --r-selection-color: #{$selectionColor};
  }
