/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-a11y-day-accordion-section {
	.wp-block-a11y-day-accordion-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.1em;
		[data-rich-text-placeholder] {
			width: 100%;
		}
		&::after {
			content: "▶";
			font-size: 0.25em;
			transition: all 300ms ease;
			display: inline-block;
			margin-right: 0.5em;
		}
	}
	&.is-selected {
		.wp-block-a11y-day-accordion-heading {
			&::after {
				transform: rotate(90deg);
			}
		}
	}
}
